@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* Changes */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6pt;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*  */
/* Changes */
/*  */

/* Remove bullets on lists */
ul {
  list-style-type: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
  color: rgb(95, 94, 94);
}

.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  display: flex;
  background-color: rgb(236, 234, 234);
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

